* {
  box-sizing: border-box;
}

$BESTBUY_BLUE: #003b64;
$BESTBUY_YELLOW: #fff200;
@mixin button-styles ($color) {
  display: inline-block;
  letter-spacing: 1px;
  color: white;
  padding: 12px;
  border-radius: 3px;
  background-color: $color;
  border: none;
  margin: 0 auto 10px auto;
  font-weight: 600;
  width: 150px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  h1 {
    text-align: center;
    color: $BESTBUY_BLUE;
    margin: 0;
    font-weight: 400;
  }
  h3 {
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 200;
  }
}

#redirect {
  background-color: #324a5f;
  position: absolute;
  padding: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 13px 35px 1px rgba(0, 0, 0, 0.82);
  p {
    text-align: center;
    color: white;
  }
  a {
    color: darkgrey;
  }
}

#upc {
  font-size: 14px;
  padding: 10px;
  display: block;
  margin: 0 auto 20px auto;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
  width: 250px;
}

.table-buttons {
  text-align: center;
  #format-table {
    @include button-styles(#42e079);
  }
  #clear-table {
    @include button-styles(#c1000d);
  }
  #print-table {
    @include button-styles(#00ABE7);
  }
}

table {
  font-family: 'Arial';
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  tr {
    &:hover {
      background: #f4f4f4;
      td {
        color: #555;
      }
    }
  }
  th,
  td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: $BESTBUY_BLUE;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
}

@media print {
  // Only print table and header
  header,
  #table-body .remove-item,
  #table-body .decrement-quantity,
  thead tr th:nth-child(9),
  // -1 button thead tr th:nth-child(8),
  // remove button .table-buttons,
  #upc {
    display: none;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    td,
    th {
      border: 1px solid black;
      color: black;
      padding: 4px 10px;
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td.quantity {
      text-align: center;
    }
  }
  html,
  body {
    height: auto;
  }
}
