header h1 {
  text-align: center;
  color: blue;
  margin: 0; }

header h3 {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 200; }

#upc {
  padding: 12px;
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center; }

#format-table {
  display: block;
  letter-spacing: 2px;
  color: white;
  padding: 12px;
  border-radius: 3px;
  background-color: #41e079;
  border: none;
  margin: 0 auto 10px auto; }

#clear-table {
  display: block;
  letter-spacing: 2px;
  color: white;
  padding: 12px;
  border-radius: 3px;
  background-color: #c1000d;
  border: none;
  margin: 0 auto 10px auto; }

@media print {
  #table-body .remove-item,
  #table-body .decrement-quantity,
  thead tr th:nth-child(8),
  thead tr th:nth-child(7),
  #clear-table,
  #format-table,
  #upc {
    display: none; } }
